.rooms .hero-title  {
  position: relative;
  padding: 3rem;
  opacity: 1;
  text-align: left;
  font-size: 4rem;
  font-weight: 900;
  text-decoration: underline;
  letter-spacing: 0.2rem;

  }

.room-list {
  position: relative;
  padding: 3rem;
}

.form {
  color:black;
}
