.rooms .hero-title  {
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 18%;
  background-color: red;
  padding: 3rem;
  opacity: 1;
  text-align: left;
  font-size: 4rem;
  font-weight: 900;
  text-decoration: underline;
  letter-spacing: 0.2rem;

  }

.room-list {
  position: absolute;
  top: 300px;
  padding: 3rem;
}
