
<div class="container-fluid">
  <div class="row">
    <div class="rooms col-md-4">
      <h1 class="hero-title">{{home.heroTitle}}</h1>

      <!-- room name header -->
    </div>
    <div class="col-md-3" style: "padding-bottom: 10px; border-bottom: 1px solid black;">
      <h3 class="room-name-header">{{ home.currentRoom.$value }}</h3>
    </div>
    <div class="col-md-5" style = "padding-top: 2rem">
      <button class="btn btn-outline-black btn-md" style="font-size:1rem;" style type="button" ng-click="home.openModal()">new room</button>
    </div>
  </div>
  <!-- room list -->
  <div class="row">
    <div class="rooms col-md-6">
      <div class="room-list">
        <ul class="list-unstyled" ng-repeat="currentRoom in home.rooms">
          <li>
            <a class ="room-name" ng-click="home.setActiveRoom(currentRoom)">{{ currentRoom.$value }}</a>
          </li>
        </ul>
      </div>
      <div style ="padding-top: 5rem;">
      <div class="messages" ng-repeat="currentMessage in home.allTheMessages">
        <p style= "font-size: 1.3rem";class="alternative_cls"><b>{{ currentMessage.username }}</b> : {{ currentMessage.content }}</p>
      </div>
    </div>
    </div>
  </div>
  <!-- large message -->

  <div>
    <h3 class="room-name-header" style ="font-size:12rem; font-family:garamond">{{ home.newMessage }}</h3>
  </div>
  <!-- footer: message input -->
  <footer class="footer">
    <div class="row">
      <form ng-submit="home.submitMessage()">
        <div>
          <div ng-show="home.currentRoom.$value != null"   class="input-group">
            <input type="text" ng-model="home.newMessage" class="form-control input-lg" placeholder="Type your message here..." required>
            <span class="input-group-btn">
              <button type="submit" class="btn-lg btn-outline-black"type="button">chat</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  </footer
</div>
