
<div class="container">
  <div class="row">
    <div class="rooms col-md-6">
      <h1 class="hero-title">{{home.heroTitle}}</h1>
      <div>
        <button class="btn btn-outline-black btn-md" style="font-size:1rem;" style type="button" ng-click="home.openModal()">new room</button>
      </div>
      <div class="room-list">
        <ul class="list-unstyled" ng-repeat="currentRoom in home.rooms">
          <li>
            <a class ="room-name" ng-click="home.setActiveRoom(currentRoom)">{{ currentRoom.$value }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6" style: "padding-bottom: 10px; border-bottom: 1px solid black;">
      <h3 class="room-name-header" style="margin-top: 26px;">{{ home.currentRoom.$value }}</h3>
      <div class="messages" ng-repeat="currentMessage in home.allTheMessages">
        <p style= "font-size: 1.3rem; padding-top: 1.5rem";class="alternative_cls"><b>{{ currentMessage.username }}</b> : {{ currentMessage.content }}</p>
      </div>

      <div>
        <h3 class="room-name-header" style ="font-size:12rem; font-family:garamond">{{ home.newMessage }}</h3>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <form ng-submit="home.submitMessage()">
        <div>
          <div ng-show="home.currentRoom.$value != null"   class="input-group">
            <input type="text" ng-model="home.newMessage" class="form-control input-lg" placeholder="Type your message here..." required>
            <span class="input-group-btn">
              <button type="submit" class="btn-lg btn-outline-black"type="button">chat</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  </footer
